.root {
    border-radius: 10px;
    padding: 5px 10px;
    width: 200px;
    margin-bottom: 15px;
    background-color: rgba(251, 250, 249, 0.8);

    &:before {
        display: none;
    }

    @media (max-width: 575px) {
        width: 300px
    }
}

.closeButton {
    align-self: self-start;
}

.body {
    padding: 0;
    margin: 0;
}