.ref_root {
    border: 1px solid #00000033;
    border-radius: 20px;
    background-color: #F8F7F6;
    height: 50px;
    margin-top: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}