.track {
    background-color: #F8F7F6;
    z-index: 4;
    left: 10px;
    border-radius: 12px;


    &:before {
        background-color: #F8F7F6;
        border: 1px solid #00000033;
        
    }
}

.thumb {
    background: linear-gradient(35deg, #6E54FF 19.37%, #3d24cb 101.92%);
    border: none;
    z-index: 5;
    width: 38px;
    height: 38px;

    &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        background-color: #A798FF;
        border-radius: 50%;
    }

}

.markWrapper {
    top: -9px;
}

.mark {
    background-color: transparent; 
    border: none;
}


.bar {
    background: radial-gradient(95.18% 4688.55% at 0% 52%, #0E091C 0%, #6E54FF 50%, #DDD7FE 100%);
    z-index: 5;
}


.markLable {
    margin-top: 16px;
    font-weight: 600;
    color: #A1A1A1;
    font-size: 12px;
}

.label {
    display: none;
}

